<!DOCTYPE html>
<html lang="en">
  {{>header}}
  <body>
    {{>navbar}}

    <!-- // ------------------------- -->
    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <div class="col-md-6 col-12 main_header_right">
                <figure>
                    <img src="/public/images/pic.jpg" alt="Rachit" class="img-fluid" title="Rachit">
                </figure>
            </div>
            <div class="col-md-6 col-12 main_header_left">
              <h1>I am a  <span>Mern Stack Developer </span> , Competitive Programmer and a automation tester</h1>
              <a href="https://www.linkedin.com/in/rachit-choudhary-39224421b/" target="_blank"><button>Connect with me</button></a>
            </div>
           
          </div>
        </div>
      </div>
    </div>
   {{>footer}}
   
  </body>
</html>
