<!DOCTYPE html>
<html lang="en">
  {{>header}}
  <body>
    {{>navbar}}

    <!-- // ------------------------- -->
    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <div class="col-md-12 col-12 main_header_left mx-auto">
                <figure class="mx-auto">
                    <img src="/public/images/notfound.jpg" alt="Rachit" class="img-fluid " title="Rachit">
                    
                </figure>
                <h1 class="mx-auto"> {{errormsg}}</h1>
                <a class ="mx-auto"href="/"><button>Go Back</button></a>

            </div>
           
           
          </div>
        </div>
      </div>
    </div>
   {{>footer}}
   
  </body>
</html>
