<!DOCTYPE html>
<html lang="en">
 {{>header}}
  <body>
    {{>navbar}}
    <!-- // ------------------------- -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                
                <div class="main_container">
                    <form class="temp_form">
                        <input type="text" id="cityName" placeholder="Enter Your City Name">
                        <input type="submit" value="search" id="submitBtn">
                    </form>
                </div>
                    
                <div class="tempInformation">
                    <div class="top_layer">
                        <p id="day">Tuesday</p>
                        <p id="today_date">13 october</p>
                    </div>
                    <div class="main_layer">
                        <p id="city_name">Get Output Here</p>
                        <div class="middle_layer data_hide">
                            <p id="temp"><span id="temp_real_value">0</span> <sup>o</sup>C</p>
                            <p id="temp_status"> <i class="fa-solid fa-cloud"></i> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{>footer}}
     <script src="/public/js/main.js"></script>
  </body>
</html>
